#model-carosel {
  overflow-x: clip;
  background-color: var(--midtone, #9f5252);
  display: flex;
  flex-wrap: nowrap;
  model-viewer {
    animation: slide linear 20s infinite;
    }
}

@keyframes slide {
  0% { transform: translateX(90vw); }
  100% { transform: translateX(-100vw); }
}

