/* These styles are specifically used on "Who We Are" page */
.person {
  display: grid;
  width: 100%;
  max-width: 960px;
  grid-template-columns: auto auto;
  margin-bottom: 2em;

  p { padding: 0; }
  h2 {
    font-family: "Kavoon", "Noto Sans", sans-serif;
    font-weight: bold;
    margin-top: 0;
  }
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    justify-self: right;
    margin: 0 1dvw 0 2dvw;
  }
  
  :is(.phone, .email, .title) {
    font-size: 1.3rem;
    margin: 0;
  }

  .dummy-link {
    text-decoration: underline;
    color: #0000ee;
  }
}
