@font-face {
  font-family: "Economica";
  src: url("./fonts/Economica-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Economica";
  src: url("./fonts/Economica-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Kavoon";
  src: url("./fonts/Kavoon-Regular.woff2") format("woff2");
}

:root {
  --light-bg: #fffae4;
  --light-accent: #fac378;
  --dark-bg: #560d0b;
  --dark-accent: #820400;
  --midtone: #9f5252;
}

html { font-size: 1em; }

body {
  margin: 0;
  font-family: "Economica", Arial, sans-serif;
  
  h1 {
    font-family: "Kavoon", "Noto Sans", sans-serif;
  } 
}

header {
  background-color: var(--light-accent, #fac378);
  color: white;
  font-family: "Kavoon", "Noto Sans", sans-serif;
}

nav {
  background-color: var(--light-bg, #fffae4);
  position: sticky;
  top: 0;
  z-index: 10;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
	flex-grow: 1;
      &::marker { content: none; }
    }
  }
}

#model-carosel {
  overflow-x: clip;
  width: 100%;
  background-color: var(--midtone, #9f5252);
  model-viewer {
    display: inline-block;
    animation: slide linear 20s infinite;
    }
}

@keyframes slide {
  0% { transform: translateX(90vw); }
  100% { transform: translateX(-100vw); }
}

main {

}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg, #560d0b);
  color: white;
  a {
    color: white;
  }
  
  > section { flex-grow: 1; }
  #disclaimer {

  }

  #pagelinks {
    position: static;
    ul { margin: 0; padding: 0 }
    li {
      margin: 0;
      &::marker { content: none; }
      a { text-decoration: none; }
    }
  }

  #sociallinks {
    a {
      display: block;
      text-decoration: none;
    }
    img { width: 25px; height: auto; }
  }
}

