body {
    margin: 0;
    overflow-x: clip;
}

#model-carosel {
    display: flex;
    justify-content: space-evenly;

    model-viewer {
	position: relative;
	left: 100px;
	animation: slide linear 15s infinite;
    }
}

@keyframes slide {
    0% {left: 100%}
    100% {left: -100%}
}
