---
title: LiveTaste
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<script src="/js/p5.min.js"></script>
	<script src="/js/model-carosel.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="sketch"></div>
    {{ content | safe }}
  </body>
</html>
