<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {% block styles %}
      <!-- Additional styles go here -->
    {% endblock %}
    {% block scripts %}
      <!-- Add scripts here -->
    {% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      LIVETASTE
    </header>
    
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
    
    <main>
      {{ content | safe }}
    </main>

    <footer>
      <section id="disclaimer">LiveTaste is a work of satire.</section>
      <section id="pagelinks">Company
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </section>
      <section id="sociallinks">Socials
        <a href="https://www.instagram.com/livetaste.ca/" target="_blank">Instagram</a>
        <a href="https://www.tiktok.com/@livetastecorp?_r=1&_t=ZS-951BPVda2ab" target="_blank">TikTok</a>
      </section>
    </footer>
  </body>
</html>

