<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {% block styles %}
      <!-- Additional styles go here -->
    {% endblock %}
    {% block scripts %}
      <!-- Add scripts here -->
    {% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
    <div id="logo">
      <a href="/"><img src="/img/logo.png" width="100px"></a>
      <div class="header-text">
        <p class="corpname">LIVETASTE</p>
        <p class="tagline">Embrace every taste</p>
      </div>
    </div>
    <nav id="widenav">
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
    </header>
    
    {% block topbar %} {% endblock %}    
    <main>
      {{ content | safe }}
    </main>

    <footer>
      <section id="disclaimer">
        <p>LiveTaste is a work of satire.</p>
      </section>
      <section id="pagelinks"><p>Company</p>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </section>
      <section id="sociallinks"><p>Socials</p>
        <a href="https://www.instagram.com/livetaste.ca/" target="_blank"><img src="/img/instagram.svg">Instagram</a>
        <a href="https://www.tiktok.com/@livetastecorp?_r=1&_t=ZS-951BPVda2ab" target="_blank"><img src="/img/tiktok.png">TikTok</a>
      </section>
    </footer>
  </body>
</html>

